In [9]:
angka = 10
nama = "najwa"
tinggi = 156

print(angka)
print(nama)
print(tinggi)

10
najwa
156

In [6]:
x = 5
if x > 3:
    print("x lebih besar dari 3")
else:
    print("x tidak lebih besar dari 3")

x lebih besar dari 3

In [5]:
array = [1,2,4,6,8,9]
print(array[3])

6

In [4]:
angka = []
for i in range(4):
    Masukkan = int(input(f"Masukkan angka ke-{i+1}: "))
    angka.append(Masukkan)

    print("Angka yang dimasukkan:", angka)
    angka.sort()
    print("Urutan dari kecil ke besar:", angka)
    angka.sort(reverse=True)
    print("Urutan dari besar ke kecil:", angka)

Angka yang dimasukkan: [8]
Urutan dari kecil ke besar: [8]
Urutan dari besar ke kecil: [8]
Angka yang dimasukkan: [8, 2]
Urutan dari kecil ke besar: [2, 8]
Urutan dari besar ke kecil: [8, 2]
Angka yang dimasukkan: [8, 2, 3]
Urutan dari kecil ke besar: [2, 3, 8]
Urutan dari besar ke kecil: [8, 3, 2]
Angka yang dimasukkan: [8, 3, 2, 1]
Urutan dari kecil ke besar: [1, 2, 3, 8]
Urutan dari besar ke kecil: [8, 3, 2, 1]

In [3]:
for i in range(1, 11):
    print(5*i)

5
10
15
20
25
30
35
40
45
50

In [1]:
def printTable(n):

    for i in range (1, 11): 
        
        # multiples from 1 to 10
        print ("%d * %d = %d" % (n, i, n * i))

In [2]:
n = 5
printTable(n)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50